@page
@model X_HIJA_SYSTEM_RAZORpage.Pages.Category.CreateModel


<form method="post">
    <div class="border p-3 m-4">
        <div class="">
            <h2>Create Category</h2>
            <hr />
        </div>
        <div asp-validation-summary="ModelOnly"></div>
        <div class="mx-1 mb-2 row">
            <label asp-for="categoryys.CatName" class="form-label p-0"></label>
            <input asp-for="categoryys.CatName" class="form-control">
            <span asp-validation-for="categoryys.CatName" class="text-danger"></span>
        </div>
        <div class="mx-1 mb-3 row">
            <label asp-for="categoryys.DisplayOrder" class="form-label p-0"></label>
            <input asp-for="categoryys.DisplayOrder" class="form-control">
            <span asp-validation-for="categoryys.DisplayOrder" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">CREATE</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-page="/category/index" class="btn btn-outline-secondary form-control">BACK TO LIST</a>
            </div>
        </div>
    </div>

</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }

}
